@mixin flex-center{
    display: flex;
    align-items: center;
}

@mixin flex-justify-center{
    display: flex;
    justify-content: center;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-center-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin font-normal-weight-line{
    font-style: normal;
    font-weight: 400;
    
}


// Variabili color

@mixin white{
    color: #FFF;
}

@mixin lightblue{
    color: #86B0D6;
}

@mixin lightblue-two{
    color: #7694AF;
}

@mixin dark-green{
    color: #04541F;
}

// Variabili background

@mixin background-white{
    background-color: #FFF;
}

@mixin background-light-blue{
    background-color:#86B0D6;
}

@mixin background-blue-night{
    background: #0F263B;
}

@mixin background-blue-dark-night{
    background: #02070B;
}

@mixin background-dark-blue{
    background-color: #3B7FBE;
}

@mixin background-dark-green{
    background: #04541F;
}

@mixin background-dark-green-contact{
    background: #043815;
}

@mixin background-button{
    background: #23D64A;
}

$colore1: #FFF;


// Variabili gradient

@mixin gradient-menu{
    background: radial-gradient(280.86% 219.74% at 75.46% 228.3%, #11E680 0%, #04541F 70.31%, #04541F 83.85%, #04541F 100%);
}

@mixin gradient-card-type-one{
    background: radial-gradient(238.57% 135.53% at 90.03% 94.18%, #074439 0%, #16E173 100%)
}

@mixin gradient-card-type-two{
    background: radial-gradient(107.26% 73.15% at 89.18% 78.17%, rgba(136, 214, 174, 0.89) 0%, rgba(65, 168, 174, 0.88) 100%);
}

// Altre variabili

// Title Part - part three, four, five;

@mixin height-text-shadow{
    height: 83px;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.58);
}

//************************************************//

@mixin staatliches-font-normal-uppercase{
    font-family: Staatliches;
    font-style: normal;
    text-transform: uppercase;
}

@mixin work-sans-font-normal-uppercase{
    font-family: Work Sans;
    font-style: normal;
    text-transform: uppercase;
}

//************************************************//

@mixin staatliches-font-normal-line-normal{
    font-family: Staatliches;
    font-style: normal;
    line-height: normal;
}

@mixin staatliches-font-normal-line-normal-uppercase{
   
    font-family: Staatliches;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

@mixin normal-uppercase{
    font-style: normal;

}

@mixin normal-tauri{
    color: #FFF;
    font-style: normal;
    font-family: Tauri;
}

//************************************************//